  <!-- start services -->

  <section class="services">
    <div class="container">
        <div class="main_title">
            <h3>Check out what we can do!</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="serv_img">
                    <img src="/assets/images/serv_img.png" alt="image" class="img-fluid">
                    <div class="img_position">
                        <a href="javascript:void(0)"><img src="/assets/images/how.png" class="how_img" alt=""></a>
                        <a href="javascript:void(0)"><img src="/assets/images/where.png" class="where_img" alt=""></a>
                        <a href="javascript:void(0)"><img src="/assets/images/who.png" class="who_img" alt=""></a>
                        <a href="javascript:void(0)"><img src="/assets/images/why.png" class="why_img" alt=""></a>
                        <a href="javascript:void(0)"><img src="/assets/images/what.png" class="what_img" alt=""></a>
                        <a href="javascript:void(0)"><img src="/assets/images/when.png" class="when_img" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  end services   -->
