<footer>
    <div class="container">
        <div class="footer_links">
            <div class="footer_logo">
                <img src="assets/images/logo.png" alt="">
                <p>Copyright © SOCRAI 2020.All rights reserved</p>
            </div>
            <div class="links">
                <ul>
                    <li><a href="#"><img src="/assets/images/linkin.png" alt="" class="img-fluid"></a></li>
                    <li><a href="#"><img src="/assets/images/fb.png" alt="" class="img-fluid"></a></li>
                    <li><a href="#"><img src="/assets/images/tw.png" alt="" class="img-fluid"></a></li>
                    <li><a href="#"><img src="/assets/images/insta.png" alt="" class="img-fluid"></a></li>
                </ul>
            </div>
        </div>
    </div>
  </footer>
  