   <!-- Header -->
   <header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                  
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                      <div class="text-container">
                        <h2>Sometime You Win <br> Sometimes You Learn</h2>
                        <h5>Get Already Access</h5>
                        <p>Be the first to know when the app becomes available</p>
                        <a class="btn-solid-lg page-scroll" href="#">join Now</a>
                     </div> <!-- end of text-container -->
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->
