
/*       Work Started on header       */

.single {
	margin-top: -8px;
}
.single input {
	background: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: .5s;
}
.single input:focus {
	background: transparent;
	color: #fff;
}
.single input::placeholder {
	color: #fff;
	font-weight: 500;
}
.single button {
	background: #000;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #fff;
    border-left: 0;
    color: #fff !important;
    padding: 6px 30px;
}
.login_drpdwn {
	margin-right: 15px;
}


.header {
	background-color: #fff;
}

.header .header-content {
    padding-top: 18rem;
	padding-bottom: 4rem;
   
    
}
.image-container
{
    margin-left: 27px;
}

.text-container h5 {
    font-weight: 500;
    font-size: 28px;
    
      
    
}

.text-container p {
    font-size: 24px;
    text-transform: capitalize;
    color: #000;
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-align: left;
}

.text-container a {
    border-radius: 4px;
    background: #2eb24c;
    padding: 13px 40px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}


.text-container a:hover {
    background: linear-gradient(74deg, #2eb24c, #2a8bf2);
    background-size: 400% 400%;
    animation: btnanimation 2s ease infinite;
}

@keyframes btnanimation {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}

		/*     end header     */


/*********************/
/*    04. Header     */
/*********************/
.header {
	background-color: #fff;
}

.header .header-content {
	padding-top: 8rem;
	padding-bottom: 4rem;
	text-align: center;
}



.header h1 {
	margin-bottom: 1.125rem;
	font-size: 2.5rem;
	line-height: 3.125rem;
}

.header .p-large {
	margin-bottom: 1.875rem;
}

.headdi{
	    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
   
    width:70%;
}



.headdiing{
	text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
}
.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.form-group.has-error.has-danger {
	margin-bottom: 0.625rem;
}

.form-group.has-error.has-danger .help-block.with-errors ul {
	margin-top: 0.375rem;
}

.label-control {
	position: absolute;
	top: 0.87rem;
	left: 1.375rem;
	color: #626262;
	opacity: 1;
	font: 400 0.875rem/1.375rem "Lato", sans-serif;
	cursor: text;
	transition: all 0.2s ease;
}


.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.0625rem;
	padding-bottom: 0.0625rem;
	padding-left: 1.3125rem;
	border: 1px solid #c4d8dc;
	border-radius: 0.25rem;
	background-color: #fff;
	color: #626262;
	font: 400 0.875rem/1.875rem "Lato", sans-serif;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3rem;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.form-control-input {
		padding-top: 1.25rem;
		padding-bottom: 0.75rem;
		line-height: 1.75rem;
	}

	.form-control-select {
		padding-top: 0.875rem;
		padding-bottom: 0.75rem;
		height: 3.125rem;
		line-height: 2.125rem;
	}
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('/assets/images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

select::-ms-expand {
    display: none; /* removes the ugly default down arrow on select form field in IE11 */
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 8rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.25rem;
	padding-left: 1.3125rem;
	border: 1px solid #c4d8dc;
	border-radius: 0.25rem;
	background-color: #fff;
	color: #626262;
	font: 400 0.875rem/1.75rem "Lato", sans-serif;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.checkbox {
	font: 400 0.75rem/1.25rem "Lato", sans-serif;
}

input[type='checkbox'] {
	vertical-align: -15%;
	margin-right: 0.375rem;
}

/* IE10+ hack to raise checkbox field position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	input[type='checkbox'] {
		vertical-align: -9%;
	}
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.125rem;
	border: 1px solid #00bfd8;
	border-radius: 1.5rem;
	background-color: #00bfd8;
	color: #fff;
	font: 700 0.75rem/1.75rem "Lato", sans-serif;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	background-color: transparent;
	color: #00bfd8;
}

	

.header h1 {
	margin-bottom: 1.125rem;
	font-size: 2.5rem;
	line-height: 3.125rem;
}

.header .p-large {
	margin-bottom: 1.875rem;
}

.headdi{
	text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    width:70%;
}


@media (min-width: 992px)
{
.header {
    background-image: url('/assets/images/banner.png')  !important;
    background-size: cover !important;
    background: #fff;
    background-repeat: no-repeat;
    margin-top: 4rem;
    padding-bottom: 15%;
}
}

.header {
    background-color: #fff;
}





/* end of min-width width 992px */


.login_drpdwn {
	margin-right: 15px;
}












/********Chat Bot New Page*********/

.chat-bot {
	margin-top: 14rem;
	margin-bottom: 9rem;
}
.questions {
    padding: 2rem 1.5rem;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    margin-bottom: 2rem;
    min-height: 321px;
    position: relative;
}
.questions input , .questions textarea {
	    background: #f5f5f5;
    border: 1px solid #f5f5f5;
}
.block_result {
	position: absolute;
    background: rgb(32 33 34);
    width: 100%;
    left: 0;
    height: 249px;
    display: flex;
    top: 72px;
    justify-content: center;
    opacity: .9;
    align-items: center;
}
.block_result p {
	    font-weight: bold;
    color: #fff;
    font-size: 21px;
}
.chat_q p {
	padding: 10px;
    border-radius: 10px;
    border-top-left-radius: 0;
    background: linear-gradient(to top left, #2A8BF2, #60A9F6);
    color: #fff;
    margin-left: 10px;
    margin-bottom: 9px;
}
.chat_q {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.circle-result {
    position: relative;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: linear-gradient(90deg, #2db34b, #29abe2);
}
.add_to_center {
	    text-align: -webkit-center;
	    margin-top: 1rem;
}
.circle2 {
    position: relative;
    top: 31px;
    left: 30px;
    text-align: center;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background-color: #ffffff;
}
.circle2 h2 {
    position: relative;
    padding-top: 40px;
    margin-bottom: 0;
}
 .circle2 span {
    text-transform: uppercase;
}
.dollar {
    color: #c83836;
    font-size: 24px;
}
.page-icon {
    text-align: center;
    margin-bottom: 2rem;
}


/**********************************/
/*          chat box             */
/*********************************/


/*===========================
         CHAT BOOT MESSENGER
       ===========================*/
       #Smallchat .Messages, #Smallchat .Messages_list {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .chat_close_icon {
       cursor:pointer;
        color: #fff;
        font-size:16px;
        position: absolute;
        right: 12px;
        z-index: 9;
    }
    .chat_close_icon i {
    	color: #2a8bf2;
    }
    .chat_on {
        position: fixed;
        z-index: 10;
        width: 80px;
        height: 80px;
        right: 15px;
        bottom: 20px;
        background-color: #2a8bf2;
        color: #fff;
        display: flex;
        border-radius: 50%;
        text-align: center;
        padding: 9px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    }
    .chat_on img {
    	width: 100%;
    	/*transform: rotate(180deg);*/
    }
    .chat_on_icon{
        color:#fff;
        font-size:25px;
        text-align:center;
    }

    #Smallchat .Layout { 
     pointer-events:auto;
     box-sizing:content-box!important;
     z-index:999999999;
     position:fixed;
     bottom:20px;
     min-width:50px;
     max-width:300px;
     max-height:30px;
     display:-webkit-box;
     display:-webkit-flex;
     display:-ms-flexbox;
     display:flex;
     -webkit-box-orient:vertical;
     -webkit-box-direction:normal;
     -webkit-flex-direction:column;
     -ms-flex-direction:column;
     flex-direction:column;
     -webkit-box-pack:end;
     -webkit-justify-content:flex-end;
     -ms-flex-pack:end;
     justify-content:flex-end;
     border-radius:50px;
     box-shadow:5px 0 20px 5px rgba(0,0,0,.1);
     -webkit-animation:appear .15s cubic-bezier(.25,.25,.5,1.1);
     animation:appear .15s cubic-bezier(.25,.25,.5,1.1);
     -webkit-animation-fill-mode:forwards;
     animation-fill-mode:forwards;
     opacity:0;
     -webkit-transition:right .1s cubic-bezier(.25,.25,.5,1),bottom .1s cubic-bezier(.25,.25,.5,1),min-width .2s cubic-bezier(.25,.25,.5,1),max-width .2s cubic-bezier(.25,.25,.5,1),min-height .2s cubic-bezier(.25,.25,.5,1),max-height .2s cubic-bezier(.25,.25,.5,1),border-radius 50ms cubic-bezier(.25,.25,.5,1) .15s,background-color 50ms cubic-bezier(.25,.25,.5,1) .15s,color 50ms cubic-bezier(.25,.25,.5,1) .15s;
     transition:right .1s cubic-bezier(.25,.25,.5,1),bottom .1s cubic-bezier(.25,.25,.5,1),min-width .2s cubic-bezier(.25,.25,.5,1),max-width .2s cubic-bezier(.25,.25,.5,1),min-height .2s cubic-bezier(.25,.25,.5,1),max-height .2s cubic-bezier(.25,.25,.5,1),border-radius 50ms cubic-bezier(.25,.25,.5,1) .15s,background-color 50ms cubic-bezier(.25,.25,.5,1) .15s,color 50ms cubic-bezier(.25,.25,.5,1) .15s
         
    }

    #Smallchat .Layout-right {
     right:20px
    }
    .Messenger_header {
    	background: #f3f6ff;
    	color: #000;
    }
    #Smallchat .Layout-open {
     overflow:hidden;
     min-width:350px;
     max-width:350px;
     height:500px;
     max-height:500px;
     border-radius:10px;
     color:#fff;
     -webkit-transition:right .1s cubic-bezier(.25,.25,.5,1),bottom .1s cubic-bezier(.25,.25,.5,1.1),min-width .2s cubic-bezier(.25,.25,.5,1.1),max-width .2s cubic-bezier(.25,.25,.5,1.1),max-height .2s cubic-bezier(.25,.25,.5,1.1),min-height .2s cubic-bezier(.25,.25,.5,1.1),border-radius 0ms cubic-bezier(.25,.25,.5,1.1),background-color 0ms cubic-bezier(.25,.25,.5,1.1),color 0ms cubic-bezier(.25,.25,.5,1.1);
     transition:right .1s cubic-bezier(.25,.25,.5,1),bottom .1s cubic-bezier(.25,.25,.5,1.1),min-width .2s cubic-bezier(.25,.25,.5,1.1),max-width .2s cubic-bezier(.25,.25,.5,1.1),max-height .2s cubic-bezier(.25,.25,.5,1.1),min-height .2s cubic-bezier(.25,.25,.5,1.1),border-radius 0ms cubic-bezier(.25,.25,.5,1.1),background-color 0ms cubic-bezier(.25,.25,.5,1.1),color 0ms cubic-bezier(.25,.25,.5,1.1);
    }

    #Smallchat .Layout-expand {
     height:500px;
     min-height:500px;
          display:none;
          background-color: #fff;
    color: rgb(255, 255, 255);
    opacity: 5;
    border-radius: 10px;
    }
    #Smallchat .Layout-mobile {
     bottom:10px
    }
    #Smallchat .Layout-mobile.Layout-open {
     width:calc(100% - 20px);
     min-width:calc(100% - 20px)
    }
    #Smallchat .Layout-mobile.Layout-expand {
     bottom:0;
     height:100%;
     min-height:100%;
     width:100%;
     min-width:100%;
     border-radius:0!important
    }
    @-webkit-keyframes appear {
     0% {
      opacity:0;
      -webkit-transform:scale(0);
      transform:scale(0)
     }
     to {
      opacity:1;
      -webkit-transform:scale(1);
      transform:scale(1)
     }
    }
    @keyframes appear {
     0% {
      opacity:0;
      -webkit-transform:scale(0);
      transform:scale(0)
     }
     to {
      opacity:1;
      -webkit-transform:scale(1);
      transform:scale(1)
     }
    }
    #Smallchat .Messenger_messenger {
     position:relative;
     height:100%;
     width:100%;
     min-width:300px;
     -webkit-box-orient:vertical;
     -webkit-box-direction:normal;
     -webkit-flex-direction:column;
     -ms-flex-direction:column;
     flex-direction:column
    }
    #Smallchat .Messenger_header,#Smallchat .Messenger_messenger {
     display:-webkit-box;
     display:-webkit-flex;
     display:-ms-flexbox;
     display:flex
    }
    #Smallchat .Messenger_header {
     -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 40px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-bottom: 10px;
    }


    #Smallchat .Messenger_header h4 {
     opacity:0;
     color: #000;
     font-size:16px;
     -webkit-animation:slidein .15s .3s;
     animation:slidein .15s .3s;
     -webkit-animation-fill-mode:forwards;
     animation-fill-mode:forwards
    }

    #Smallchat .Messenger_prompt {
     margin:0;
     font-size:16px;
     line-height:18px;
     font-weight:400;
     overflow:hidden;
     white-space:nowrap;
     text-overflow:ellipsis;
     display: flex;
    align-items: center;
    }

    .Messenger_prompt img {
    	width: 40%;
    }

    .robo_chat {
    	margin-left: 7px;
    	margin-top: 13px;
    }

    .robo_chat p {
    	color: #5ea7f6;
    }

    .robo_chat span {
    	font-weight: 700;
    }

    @-webkit-keyframes slidein {
     0% {
      opacity:0;
      -webkit-transform:translateX(10px);
      transform:translateX(10px)
     }
     to {
      opacity:1;
      -webkit-transform:translateX(0);
      transform:translateX(0)
     }
    }
    @keyframes slidein {
     0% {
      opacity:0;
      -webkit-transform:translateX(10px);
      transform:translateX(10px)
     }
     to {
      opacity:1;
      -webkit-transform:translateX(0);
      transform:translateX(0)
     }
    }
    #Smallchat .Messenger_content {
        height: 450px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #fff;
    }
    #Smallchat .Messages {
        position: relative;
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
        height: 400px;
        background-color: #fff;
        -webkit-overflow-scrolling: touch;
    }

    .messages {
    	display: flex;
    	margin-left: 11px;
    }

    .messages p {
    	padding: 10px;
    	border-radius: 10px;
    	border-top-left-radius: 0;
    	background: linear-gradient(to top left, #2A8BF2, #60A9F6);
    	color: #fff;
    	margin-left: 10px;
    	margin-bottom: 9px;
    }

    .messages p:nth-child(2){
    	width: 55%;
    }

    .messages img {
    	width: 50px;
    	height: 50px;
    }

    #Smallchat .Input {
        position: relative;
        width: 100%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        padding-top: 17px;
        padding-bottom: 15px;
        color: #96aab4;
        background-color: #fff;
        border-top: 1px solid #e6ebea;
    }
    #Smallchat .Input-blank .Input_field {
        max-height: 20px;
    }
    #Smallchat .Input_field {
        width: 100%;
        resize: none;
        border: none;
        outline: none;
        padding: 0;
            padding-right: 0px;
            padding-left: 0px;
        padding-left: 20px;
        padding-right: 75px;
        background-color: transparent;
        font-size: 16px;
        line-height: 20px;
        min-height: 20px !important;
    }
    #Smallchat .Input_button-emoji {
        right: 45px;
    }
    #Smallchat .Input_button {
        position: absolute;
        bottom: 15px;
        width: 25px;
        height: 25px;
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
    }
    #Smallchat .Input_button-send {
        right: 15px;
    }
    #Smallchat .Input-emoji .Input_button-emoji .Icon, #Smallchat .Input_button:hover .Icon {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }
    #Smallchat .Input-emoji .Input_button-emoji .Icon path, #Smallchat .Input_button:hover .Icon path {
        fill: #2c2c46;
    }

    .botui-app-container {
        height: auto;
        /*width: 700px;*/
        overflow-y: auto;
    }

    .botui-message-content.text {
        background-color: #fff;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        color: #4a4a4a;
        font-family: 'Lato', sans-serif;
        border-radius: 4px;
        font-size: 18px;
            padding: 4px 10px;
        margin-bottom: 12px;
    }
    .botui-message {
        margin: 10px 0;
        min-height: 20px;
    }
    .botui-message-content.loading {
        background-color: #fff;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        color: #4a4a4a;
        border-radius: 4px;
    }
    .botui-message:after {
        display: block;
        content: "";
        clear: both;
    }
    .botui-actions-buttons {
        text-align: right;
    }
    .botui-message-content-link {
        color: #919292;
    }
    .botui-message-content-link {
        text-decoration: underline;
    }
    button.botui-actions-buttons-button {
           outline: none !important;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        border-radius: 4px;
        background-color: #5a46ff;
        border: none;
        margin-left: 6px;
        color: #fff;
    }

    .botui-message-content.human {
        background-color: #5a46ff;
        color: #fff;
    }
/***********************/
/*     End chatbox     */


/**********************************/
/*     18. Back To Top Button     */
/**********************************/
a.back-to-top {
	display: none !important;
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background: #00bfd8 url("/assets/images/up-arrow.png") no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #00a7bd; 
}



agm-map
{
    height: 500px;
}


