<section class="testimonials">
    <div class="container">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <h2>How Is SOCRAI</h2>
                 <div class="row slider_mrgin">
                     <div class="col-md-6 d-flex align-items-center">
                        <div class="img_sec">
                            <img class="" src="/assets/images/slider.png" alt="" >
                            <div class="img_title">
                                <p>Geert</p>
                            <i class="fa fa-linkedin-square"><span>Linkedin</span></i> 
                            </div> 
                        </div>     
                     </div>
                     <div class="col-md-6 d-flex align-items-center">
                         <p class="right_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                         consequat.</p>
                     </div>
                 </div>
            </div>
            <div class="carousel-item">
                <h2>How Is SOCRAI 2</h2>
                 <div class="row slider_mrgin">
                     <div class="col-md-6 d-flex align-items-center">
                        <div class="img_sec">
                            <img class="" src="/assets/images/w1.png" alt="" >
                            <div class="img_title">
                                <p>Geert</p>
                            <i class="fa fa-linkedin-square"><span>Linkedin</span></i> 
                            </div> 
                        </div>     
                     </div>
                     <div class="col-md-6 d-flex align-items-center">
                         <p class="right_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                         consequat.</p>
                     </div>
                 </div>
            </div>
            <div class="carousel-item">
                <h2>How Is SOCRAI 3</h2>
                 <div class="row slider_mrgin">
                     <div class="col-md-6 d-flex align-items-center">
                        <div class="img_sec">
                            <img class="" src="/assets/images/w2.png" alt="">
                            <div class="img_title">
                                <p>Geert</p>
                            <i class="fa fa-linkedin-square"><span>Linkedin</span></i> 
                            </div> 
                        </div>     
                     </div>
                     <div class="col-md-6 d-flex align-items-center">
                         <p class="right_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                         consequat.</p>
                     </div>
                 </div>
            </div>
          </div>
          
        </div>
        <div class="arrows">
              <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </a>
          </div>
    </div>
</section>

<section class="text_sec">
  <div class="container">
      <div class="start_text">
          <p> <i class="fa fa-circle-o"></i> Following the Rwanda genocide in 1994, Egide ended up in Belgium in 1998, at the age of 16. All alone… his family was scattered around Kenya, France, USA,… Being in the local youth movement, Geert (at that time studying to be a school teacher in English, History and Economics) was asked to go and “help / integrate” our new community member as best as he could.
          </p>
          <p> <i class="fa fa-circle-o"></i> Since that date, now well over 20 years ago, we have been soul mates and brothers. During the past 20 years we have worked together on education projects, to better integrate refugees in their new communities (language courses, integration tracks,…). We noticed how both education systems in Belgium and Rwanda were completely different and how hard it was to continue the curriculum of Rwanda here in Belgium.
          </p>
          <p> <i class="fa fa-circle-o"></i> We also noticed that what you learn in theory (mostly here in Belgium) and what you learn from life (as Egide experienced) is completely different. The latter gives you a certain sense of wisdom. While Egide learned a lot to kick off his life in Belgium, Geert learned a lot of the real value of life, social contacts and friendship of Egide. 
          </p>
          <p> <i class="fa fa-circle-o"></i> Having both 2 kids, they noticed that our education system has not been taking advantage of the digital revolution (not for children, not for adults) and our (e)learning plans were still very focused on information and knowledge transfer, not on a personalized learning experience to reach understanding. Being both continuous learners (Geert going from history teacher into cybersecurity and Egide ending up in the same discipline, after having worked in different public and private sectors for years) they noticed that tools and methods could be improved. Hence, SOCRAI was born….
          </p>
          <p> <i class="fa fa-circle-o"></i> We had the idea; we just needed some technical help to make the dream a reality. This is when we met Pieter during the Vibe Awards, an innovation initiative by Belgium’s the Cronos Group. During the kickoff weekend, we had to make a mood board… Pieter’s one stood out by a clean and well thought stylish design. He convinced us of his technical talent and attention for user centric delivery and so we hired him to develop our whole technical environment, resulting into the SOCRAI App.
          </p>
          <p> <i class="fa fa-circle-o"></i> We want to get rid of learning programs that teach to test (school, (IT) certifications,…) or solutions that can’t individualize. In our dream, everyone should have access to acquire skills at his own pace, order, learning style,… and the road to wisdom should be adapted for each and every one. The SOCRAI team will be working hard on achieving this… for those who have access today and create the opportunity for those who don’t. Let’s learn some skills and help close the gap while doing so…. Everyone deserves access to rapid skill acquisition!
          </p>
      </div>
  </div>
</section>
